<!-- título-->
<div class="title-bar">
  <h2>{{ 'base.title' | translate }}</h2>
</div>

<!--tabs -->
<div class="tabs-bar">
  <button mat-button
    [class.active]="selectedTab === 'occupation'"
    (click)="selectTab('occupation')">
    {{ 'tabs.occupations' | translate }}
  </button>

  <button mat-button
    [class.active]="selectedTab === 'country'"
    (click)="selectTab('country')">
    {{ 'tabs.countries' | translate }}
  </button>

  <button mat-button
    [class.active]="selectedTab === 'id'"
    (click)="selectTab('id')">
    {{ 'tabs.ids' | translate }}
  </button>
</div>

<div class="tab-content">
  <app-occupation *ngIf="selectedTab === 'occupation'"></app-occupation>
  <app-country *ngIf="selectedTab === 'country'"></app-country> 
</div>
